<div class="theme-toggle-container">
  <!-- <ng-scrollbar class="position-relative ng-scrollbar" style="height: calc(100vh - 50px);"> -->
  <div class="ng-scrollbar-wrapper">
    <div class="ng-scroll-viewport-wrapper">
      <div scrollviewport class="ng-native-scrollbar-hider ng-scroll-viewport">
        <div class="ng-scroll-content p-24">
          <!-- Theme Option -->
          <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16">Light Theme</h6>

          <mat-button-toggle-group
            class="mat-button-toggle-group customizer-button-group"
            role="radiogroup"
            aria-disabled="false"
          >
            <mat-button-toggle
              role="presentation"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              id="mat-button-toggle-31"
            >
              <button
                (click)="toggleMode('light-mode')"
                type="button"
                class="mat-button-toggle-button mat-focus-indicator"
                id="mat-button-toggle-31-button"
                role="radio"
                tabindex="0"
                aria-checked="true"
                name="mat-button-toggle-group-25"
              >
                <span class="mat-button-toggle-label-content">
                  <div class="d-flex align-items-center f-w-500">
                    <i-tabler name="sun-high" class="d-flex m-r-8 fill-icon">
                      <!-- SVG Icon Here -->
                    </i-tabler>
                    Light
                  </div>
                </span>
              </button>
              <span class="mat-button-toggle-focus-overlay"></span>
              <span class="mat-ripple mat-button-toggle-ripple"></span>
            </mat-button-toggle>
            <mat-button-toggle
              role="presentation"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              id="mat-button-toggle-31"
            >
              <button
                (click)="toggleMode('blue-light-mode')"
                type="button"
                class="mat-button-toggle-button mat-focus-indicator"
                id="mat-button-toggle-31-button"
                role="radio"
                tabindex="0"
                aria-checked="true"
                name="mat-button-toggle-group-25"
              >
                <span class="mat-button-toggle-label-content">
                  <div class="d-flex align-items-center f-w-500">
                    <i-tabler name="sun-high" class="d-flex m-r-8 fill-icon">
                      <!-- SVG Icon Here -->
                    </i-tabler>
                    Light Blue
                  </div>
                </span>
              </button>
              <span class="mat-button-toggle-focus-overlay"></span>
              <span class="mat-ripple mat-button-toggle-ripple"></span>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16 m-t-24 p-t-16">
            Dark Theme
          </h6>

          <mat-button-toggle-group
            class="mat-button-toggle-group customizer-button-group"
            role="radiogroup"
            aria-disabled="false"
          >
            <mat-button-toggle
              role="presentation"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              id="mat-button-toggle-31"
            >
              <button
                (click)="toggleMode('dark-mode')"
                type="button"
                class="mat-button-toggle-button mat-focus-indicator"
                id="mat-button-toggle-31-button"
                role="radio"
                tabindex="0"
                aria-checked="true"
                name="mat-button-toggle-group-25"
              >
                <span class="mat-button-toggle-label-content">
                  <div class="d-flex align-items-center f-w-500">
                    <i-tabler name="sun-high" class="d-flex m-r-8 fill-icon">
                      <!-- SVG Icon Here -->
                    </i-tabler>
                    Dark
                  </div>
                </span>
              </button>
              <span class="mat-button-toggle-focus-overlay"></span>
              <span class="mat-ripple mat-button-toggle-ripple"></span>
            </mat-button-toggle>
            <mat-button-toggle
              role="presentation"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              id="mat-button-toggle-32"
            >
              <button
                (click)="toggleMode('dark-blue-mode')"
                type="button"
                class="mat-button-toggle-button mat-focus-indicator"
                id="mat-button-toggle-32-button"
                role="radio"
                tabindex="-1"
                aria-checked="false"
                name="mat-button-toggle-group-25"
              >
                <span class="mat-button-toggle-label-content">
                  <div class="d-flex align-items-center f-w-500">
                    <i-tabler name="moon" class="d-flex m-r-8 fill-icon">
                      <!-- SVG Icon Here -->
                    </i-tabler>
                    Dark Blue
                  </div>
                </span>
              </button>
              <span class="mat-button-toggle-focus-overlay"></span>
              <span class="mat-ripple mat-button-toggle-ripple"></span>
            </mat-button-toggle>
          </mat-button-toggle-group>

          <!-- Theme Colors -->
          <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16 m-t-24 p-t-16">
            Theme Colors
          </h6>

          <mat-button-toggle-group
            class="mat-button-toggle-group customizer-button-group"
            [value]="selectedColor"
            (change)="onColorChange($event.value)"
          >
            <!-- Loop through themeColors array -->
            <mat-button-toggle
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              *ngFor="let color of themeColors"
              [value]="color.value"
            >
              <!-- Apply class if it's a named color, or use inline styles for custom colors -->
              <span
                matTooltip="{{ color.name }}_theme"
                class="theme-circle"
                [ngClass]="{
                  blue: color.value === 'blue',
                  aqua: color.value === 'aqua',
                  purple: color.value === 'purple'
                }"
                [ngStyle]="{
                  'background-color': color.value.startsWith('#')
                    ? color.value
                    : null
                }"
              >
                <!-- Icon displayed if selected color matches -->
                <i-tabler
                  *ngIf="selectedColor === color.value"
                  name="check"
                  class="icon-16 theme-icon"
                  style="bottom: 12px; position: relative"
                ></i-tabler>
              </span>
            </mat-button-toggle>
          </mat-button-toggle-group>

          <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16 m-t-24">
            Theme Direction
          </h6>
          <mat-button-toggle-group
            class="mat-button-toggle-group customizer-button-group"
            name="themeDirection"
            aria-label="Theme direction"
            [value]="themeDirection"
            (change)="onDirectionChange($event.value)"
          >
            <mat-button-toggle
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              value="ltr"
            >
              <div class="d-flex align-items-center f-w-500">
                <i-tabler
                  name="text-direction-ltr"
                  class="d-flex m-r-8 fill-icon"
                ></i-tabler>
                LTR
              </div>
            </mat-button-toggle>

            <mat-button-toggle
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              value="rtl"
            >
              <div class="d-flex align-items-center f-w-500">
                <i-tabler
                  name="text-direction-rtl"
                  class="d-flex m-r-8 fill-icon"
                ></i-tabler>
                RTL
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>

          <!-- Sidebar Type -->
          <!-- <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16 m-t-24 p-t-16">Sidebar Type</h6>
  <mat-button-toggle-group  class="mat-button-toggle-group customizer-button-group" name="sidebarType" aria-label="Sidebar type">
    <mat-button-toggle  class="mat-button-toggle mat-button-toggle-appearance-standard"  value="full">
      <div class="d-flex align-items-center f-w-500">
        <i-tabler name="layout-sidebar-right" class="d-flex m-r-8 fill-icon"></i-tabler>
        Full
      </div>
    </mat-button-toggle>
    <mat-button-toggle  class="mat-button-toggle mat-button-toggle-appearance-standard"  value="mini" checked>
      <div class="d-flex align-items-center f-w-500">
        <i-tabler name="layout-sidebar" class="d-flex m-r-8 fill-icon"></i-tabler>
        Minisidebar
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group> -->

          <!-- Layout Type -->
          <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16 m-t-24 p-t-16">
            Layout Type
          </h6>
          <mat-button-toggle-group
            class="mat-button-toggle-group customizer-button-group"
            name="layoutType"
            aria-label="Layout type"
          >
            <mat-button-toggle
              (click)="toVerticalBar()"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              value="vertical"
              checked
            >
              <div class="d-flex align-items-center f-w-500">
                <i-tabler
                  name="layout-distribute-vertical"
                  class="d-flex m-r-8 fill-icon"
                ></i-tabler>
                Vertical
              </div>
            </mat-button-toggle>
            <mat-button-toggle
              (click)="toHorizontalBar()"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              value="horizontal"
            >
              <div class="d-flex align-items-center f-w-500">
                <i-tabler
                  name="layout-distribute-horizontal"
                  class="d-flex m-r-8 fill-icon"
                ></i-tabler>
                Horizontal
              </div>
            </mat-button-toggle>
            <!-- Additional layout options go here -->
          </mat-button-toggle-group>

          <h6 class="f-s-16 f-w-600 mat-subtitle-1 m-b-16 m-t-24 p-t-16">
            Container Option
          </h6>
          <mat-button-toggle-group
            class="mat-button-toggle-group customizer-button-group"
            name="layoutType"
            aria-label="Layout type"
          >
            <mat-button-toggle
              (click)="changeContainerFullWidth()"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              value="vertical"
              checked
            >
              <div class="d-flex align-items-center f-w-500">
                <i-tabler
                  name="layout-navbar"
                  class="d-flex m-r-8 fill-icon"
                ></i-tabler>
                Full
              </div>
            </mat-button-toggle>
            <mat-button-toggle
              (click)="changeContainerBoxedWidth()"
              class="mat-button-toggle mat-button-toggle-appearance-standard"
              value="horizontal"
              checked
            >
              <div class="d-flex align-items-center f-w-500">
                <i-tabler
                  name="layout-sidebar"
                  class="d-flex m-r-8 fill-icon"
                ></i-tabler>
                Boxed
              </div>
            </mat-button-toggle>
            <!-- Additional layout options go here -->
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </div>
</div>
