component-builder.component.html
<div class="component-builder">
    <!-- Side Navigation -->
    <div class="sidenav">
      <div class="sidenav-header">
        <h2>Components</h2>
      </div>
      
      <div class="component-categories">
        <!-- Inputs Category -->
        <div class="category">
          <div class="category-header" (click)="toggleCategory('inputs')">
            <mat-icon>{{ categories.inputs ? 'expand_more' : 'chevron_right' }}</mat-icon>
            <span>Input Components</span>
          </div>
          <div class="category-items" [class.expanded]="categories.inputs">
            <div
              *ngFor="let component of components.inputs"
              class="component-item"
              cdkDrag
              [cdkDragData]="component">
              <mat-icon>{{ component.icon }}</mat-icon>
              <span>{{ component.name }}</span>
            </div>
          </div>
        </div>
  
        <!-- Selection Category -->
        <div class="category">
          <div class="category-header" (click)="toggleCategory('selection')">
            <mat-icon>{{ categories.selection ? 'expand_more' : 'chevron_right' }}</mat-icon>
            <span>Selection Components</span>
          </div>
          <div class="category-items" [class.expanded]="categories.selection">
            <div
              *ngFor="let component of components.selection"
              class="component-item"
              cdkDrag
              [cdkDragData]="component">
              <mat-icon>{{ component.icon }}</mat-icon>
              <span>{{ component.name }}</span>
            </div>
          </div>
        </div>
  
        <!-- Other Category -->
        <div class="category">
          <div class="category-header" (click)="toggleCategory('other')">
            <mat-icon>{{ categories.other ? 'expand_more' : 'chevron_right' }}</mat-icon>
            <span>Other Components</span>
          </div>
          <div class="category-items" [class.expanded]="categories.other">
            <div
              *ngFor="let component of components.other"
              class="component-item"
              cdkDrag
              [cdkDragData]="component">
              <mat-icon>{{ component.icon }}</mat-icon>
              <span>{{ component.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Drop Container -->
    <div 
      class="drop-container"
      cdkDropList
      [cdkDropListData]="droppedComponents"
      (cdkDropListDropped)="onDrop($event)">
      <div 
        *ngFor="let component of droppedComponents; let i = index"
        class="dropped-component"
        cdkDrag>
        <div class="component-preview">
          <mat-icon>{{ component.icon }}</mat-icon>
          <span>{{ component.name }}</span>
          <button mat-icon-button (click)="removeComponent(i)" class="remove-btn">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="empty-message" *ngIf="droppedComponents.length === 0">
        Drag and drop components here to build your screen
      </div>
    </div>
  </div>