<div class="row">
  <div
    class="col-lg-4 col-md-3 col-sm-3 col-xs-3 d-flex align-items-center justify-content-end"
  >
    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">{{
      label
    }}</mat-label>
  </div>
  <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
    <mat-form-field appearance="outline" class="w-100">
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        <mat-chip-row
          *ngFor="let fruit of fruits"
          (removed)="remove(fruit)"
          [editable]="true"
          (edited)="edit(fruit, $event)"
          [aria-description]="'press enter to edit ' + fruit.name"
          class="f-s-14"
        >
          {{ fruit.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        <input
          matInput
          [placeholder]="placeholder"
          [formControl]="fruitControl"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
    </mat-form-field>
  </div>
</div>
