    <mat-accordion class="mat-accordion">
      <mat-expansion-panel class="cardWithShadow" [expanded]="expanded">
        <mat-expansion-panel-header
          role="button"
          aria-controls="cdk-accordion-child-1"
          [attr.aria-expanded]="expanded"
        >
          <span class="mat-content">
            <mat-panel-title class="f-w-600 f-s-16">
              {{ panelTitle }}
            </mat-panel-title>
          </span>
        </mat-expansion-panel-header>
  
        <!-- Projected Content -->
        <ng-content></ng-content>
      </mat-expansion-panel>
    </mat-accordion>
  