<div class="dialog-container" [ngClass]="data.alertType">
  <h2 mat-dialog-title>{{ data.title }}</h2>

  <mat-dialog-content class="mat-dialog-content">
    <p>{{ data.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <custom-button
      *ngIf="data.showCancelButton"
      name="   {{ data.cancelButtonText || 'Cancel' }}"
      color="primary"
      type="button"
      (click)="onCancel()"
    >
    </custom-button>
    <custom-button
      name="  {{ data.confirmButtonText || 'OK' }}"
      color="primary"
      type="button"
      (click)="onConfirm()"
    >
    </custom-button>
  </mat-dialog-actions>
</div>
