<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 d-flex align-items-center justify-content-end">
      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">{{ label }}</mat-label>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
        <mat-form-field appearance="outline" class="w-100">
        <input
          matInput
          [matDatepicker]="picker"
          [placeholder]="placeholder"
          [formControl]="formField"
          [required]="isRequired"
          (dateChange)="updateValue($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="isRequired && !formField.value">
          Field Required.</mat-error
        >

      </mat-form-field>
    </div>
  </div>
  