<div class="flex-layout">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list" >

    <ng-container *ngFor="let item of navItems" >
      
    <div mat-subheader class="nav-caption">
      {{ item.name }}
    </div>
    <app-nav-item *ngFor="let app of item.menus" [item]="app"> </app-nav-item>
  </ng-container>
</mat-nav-list>
  <div class="profile-box">
    <div class="profile-box-content bg-light-accent ">
      <img src="/assets/images/profile/user-1.jpg" alt="Profile Picture">
      <div class="profile-info">
        <h5>Marcelino Atallah</h5>
        <span>software</span>
      </div>
      <div class="profile-actions">
        <a class="mat-icon-button" (click)="onSignOut()">
          <img src="/assets/images/svgs/power.svg" alt="Logout Icon" class="logout-icon">
        </a>
      </div>
    </div>
  </div>
  
