<div class="flex-layout">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list">
    <ng-container *ngFor="let item of navItems">
      <div
        mat-subheader
        class="nav-caption"
        [matTooltip]="item.name ?? ''"
        matTooltipPosition="right"
        [matTooltipShowDelay]="300"
      >
        <i-tabler
          class="nav-caption__icon"
          [name]="sectionIcon(item)"
          aria-hidden="true"
        ></i-tabler>
        <span class="nav-caption__text">{{ item.name }}</span>
      </div>
      <app-nav-item *ngFor="let app of item.menus" [item]="app"></app-nav-item>
    </ng-container>
  </mat-nav-list>

  <div class="profile-box sidebar-profile">
    <div class="sidebar-profile-card bg-light-accent">
      <div class="sidebar-profile__avatar">
        <img
          class="sidebar-profile-img"
          [src]="sidebarProf?.avatarUrl || '/assets/images/profile/user-1.jpg'"
          alt=""
        />
      </div>
      <div class="sidebar-profile__meta">
        <div class="sidebar-profile__name">{{ sidebarProf?.displayName || 'User' }}</div>
        <div
          class="sidebar-profile__email"
          [matTooltip]="sidebarProf?.subtitle || ''"
          [matTooltipDisabled]="!(sidebarProf?.subtitle)"
          matTooltipShowDelay="250"
        >
          {{ sidebarProf?.subtitle || '' }}
        </div>
      </div>
      <button
        mat-icon-button
        type="button"
        class="sidebar-profile__logout"
        (click)="onSignOut()"
        [disabled]="isSigningOut"
        aria-label="Sign out"
      >
        <img src="/assets/images/svgs/power.svg" alt="" class="logout-icon" />
      </button>
    </div>
  </div>
</div>
