<div class="form-ele-parent mb-3 mb-3">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 d-flex align-items-center justify-content-end">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24">{{
          label
        }}</mat-label>
      </div>  
      <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
        <mat-form-field appearance="outline" class="w-100">
    <input
      matInput
      [placeholder]="placeholder"
      [type]="type"
      [required]="isRequired"
      [formControl]="formField"
      [matAutocomplete]="auto"
      [id]="fieldName"
      [name]="fieldName"
      (input)="filterOptions()"
    />
  
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option 
        *ngFor="let option of filteredOptions" 
        [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    
    <mat-error *ngIf="formField.invalid && formField.touched">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
  