.mat-mdc-menu-item:hover:not([disabled]) {
    background: var(--hoverBgColor);
}

.mat-mdc-menu-item{
    background: var(--cardbg);
    color: var(--textPrimary) !important;
}
.mat-mdc-menu-item .mat-icon-no-color{

    color: var(--textPrimary) !important;

}