@use "@angular/material" as mat;
@include mat.core();



@import "variables";
@import "layouts/transitions";
@import "helpers/color";
@import "helpers/icon-size";
//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);
// @include mat.all-component-themes($dark-theme);

//container layout
@import "overrides/materialoverrides";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";


// pages
@import "pages/dashboards";
@import "pages/auth";
@import "pages/ui-components.scss";




@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/woff2/setting.woff2') format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    opacity:0.7;
    direction: var(--direction)l;
    -webkit-font-smoothing: antialiased;
  }


  